<!DOCTYPE html>
<html>
<head>
<title>Recuperar senha</title>
<style>
body{
    background:#000;
    font-family: Arial;
}
.box{
    background:#111;
    width:90%;
    max-width:350px;
    margin:100px auto;
    padding:25px;
    border-radius:15px;
    color:white;
    box-shadow:0 0 20px red;
}
input{
    width:93%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
}
button{
    width:100%;
    margin-top:15px;
    padding:12px;
    background:#e60000;
    border:none;
    color:white;
    border-radius:8px;
}
</style>
</head>
<body>

<div class="box">

<form method="POST">
    <h2>Recuperar senha</h2>
    <input type="email" name="email" placeholder="Digite seu e-mail" required>
    <button>Enviar</button>
</form>

</div>

</body>
</html>
